h4 {
  color: white; background-color: rgb(244, 118, 199); text-align: center; margin: 0%;
}

h1 {
  color: white; background-color: rgb(244, 118, 199); text-align: center; margin: 0%;
}

p {
  color: rgb(244, 118, 199); text-align: justify; margin-top: 5%;
}

.topnav a {
  float: left;
  color: #f476c7;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  background-color: #f1b5db;
  color: black; 
}

body {
  /* margin: 1000;
  padding: 50; */
  /* font-family: Arial, sans-serif; */
  font-family: 'Franklin Gothic Medium';
}

.content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 30px;
  margin-top: 20px;
}
    
.item {
  /* background-color: #f476c7; */
  padding: 20px;
  margin: 20px;
  text-align: center;
}
    
.footer {
  /* background-color: #f1b5db; */
  /* padding: 0px; */
  text-align: center;
}

